<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="stuff, to, help, search, engines, not" name="keywords">
<meta content="What this page is about." name="description">
<meta content="Display Webcam Stream" name="title">
<title>Display Webcam Stream</title>
<link href='https://fonts.googleapis.com/css?family=Nobile:700,400' rel='stylesheet' type='text/css'>
<style>
#container {
    width: 100%;
    height: 100%;

}
.vidFrame {
    width: 50%;
    height: 100%;
    float: left;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}


.video-overlay {
    position: absolute;
    left: 0px;
    top: 50%;
    margin: 10px;
    padding: 5px 5px;
    font-size: 20px;
    font-family: Helvetica;
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.3);
}
</style>
</head>

<body>
<div id="container">
    <video class="vidFrame" autoplay="true" id="v1"></video>
    <video class="vidFrame" autoplay="true" id="v2"></video>
    <div class="video-overlay" id="vi">Working...</div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var v1 = document.querySelector("#v1");
    var v2 = document.querySelector("#v2");

    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

    if (navigator.getUserMedia) {
        navigator.getUserMedia({video: true}, handleVideo, videoError);
        navigator.getUserMedia({video: true}, handleVideo, videoError);
    }

    function handleVideo(stream) {
        v1.src = window.URL.createObjectURL(stream);
        v2.src = window.URL.createObjectURL(stream);
    }


    function videoError(e) {
        // do something
    }


    namespace = '/vid';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
    // Event handler for new connections.
    socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!'});
    });

    function send_frame() {
        var video  = document.getElementById("v1");
        var canvas = document.createElement('canvas');
        canvas.width  = video.videoWidth;
        canvas.height = video.videoHeight;
        var ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0);

        // quality ranges from 0.00-1.00
        var jpgQuality=0.60;

        // get the dataURL in .jpg format
        var vid_frame = canvas.toDataURL('image/jpeg',jpgQuality);
        socket.emit('vid_frame', {imageData: vid_frame});




    }

    socket.on('Emotion', function(e) {
            console.log(e.emotion);
            console.log("here");
            $('#vi').text(e.emotion)
            console.log("here too");
    });

    send_frame();
    setInterval(send_frame,3000);

</script>
</body>
</html>